menu "Collector Configuration"
  config LEN_FILE_LIST
    int "File List Length"
    default 8
    range 1 16
    help
    Maximum number of files to transfer in one window
  config LEN_PEER_QUEUE
    int "Maximum peer queue length"
    default 8
    range 1 16
    help
    Maximum number of queue containing peers who respond to the sync packet
  config WRITE_BUF_SIZE
    int "File Write Buffer Size"
    default 8192
    range 1024 32768
    help
    File write buffer size
  config ALWAYS_DOWNLOAD
    bool "Always redownload data even if already downloaded"
    help
        Probably only useful when testing throughput
endmenu
