menu "Node Configuration"
config READ_BUF_SIZE
    int "Read Buffer Size"
    default 8192
    range 1024 16384
    help
    File read buffer size. Used by mtftp tatsk
config WRITE_BUF_SIZE
    int "Write Buffer Size"
    default 8192
    range 1024 16384
    help
    File write buffer size. Used by sample task
config SAMPLE_PERIOD
    int "Sample Period (us)"
    default 20000
    range 1000 1000000
    help
    Period of sensor sampling
config SAMPLE_BUFFER_NUM
    int "Number of samples to buffer"
    default 512
    range 1 32768
    help
    Two buffers will be allocated to each hold SAMPLE_BUFFER_NUM amount of samples
config START_WITHOUT_TIME_SYNC
    bool "Start sampling without waiting for time sync"
    help
        If set, sampling will start without waiting for a time sync
config BTN_SHUTDOWN_TIME
    int "Time that btn has to be pressed to shutdown node"
    default 3000000
    range 500000 10000000
endmenu
